.btn-outline-success {
    color: $white-color !important;
    background-color: $accent-color !important;
    border: none !important;
}

.btn.btn-primary.btn-block.btn-sm {
    background-color: $accent-color !important;
    border-color: $accent-color !important;
}

.btn.btn-primary.btn-block.btn-sm:hover {
    background-color: lighten($accent-color, $amount: 10%) !important;
}

.btn-cta {
    background-color: $accent-color !important;
}

.btn-cta:hover {
    background-color: lighten($accent-color, $amount: 10%) !important;
    transition: 0.3s ease-in;
}