.card-header {
    background-color: $white-color !important;
}

.card {
    background: radial-gradient(#FFFFFF, #E5E5E5) !important;
    border: none;
}

.collapse .show {
    border-bottom: 2px solid $accent-color !important;
}

.btn-link {
    color: $accent-color !important;
}

span .accordion-image {
    height: 250px;
    width: 100%;
}

.tab-icons {
    display: flex;
    justify-content: center !important;
    color: $dark-color !important;
}

span i.fa {
    font-size: 30px !important;
}

.active-accordion.card-header {
    border-bottom: 2px solid $accent-color;
}


.home-accordion-card.card-body, 
.home-accordion-background.card-body {
    background-color: #E5E5E5 !important;
}

 