.card-body {
    background-color: $white-color !important;
    border-radius: 0 0 12px 12px !important;
}

.card-title {
    color: $dark-color !important;
}

.card-img-top {
    border-radius: 12px 12px 0 0 !important;
}

.card {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

#news-card {
    min-width: 15rem !important;
}