.carousel-indicators li {
    height: 30px;
    background-color: $white-color !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
    box-shadow: 0 3px 6px #000000;
    border-radius: 3px;
}

.carousel-indicators .active {
    background-color: $accent-color !important;
}

.carousel-inner img {
    min-height: 225px;
}
