.card-header {
    background-color: $white-color !important;
}

.card {
    background: radial-gradient(#FFFFFF, #E5E5E5) !important;
    border: none;
}

.collapse .show {
    border-bottom: 2px solid $accent-color !important;
}

.btn-link {
    color: $accent-color !important;
}



