.carousel-indicators li {
    height: 30px;
    color: $primary-color !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.carousel-indicators li .active {
    color: $accent-color !important;
}
