footer {
    background-color: $white-color !important;
    color: $primary-color !important;
    flex-shrink: 0;
    margin-top: 20vh;

    @media (max-width: 991px) {
        .container-lg {
            padding: 0.5rem 1rem;
        }
    }
}

.footer span {
    padding: 0.5rem 0;
}

i.fa {
    font-size: 42px !important;
}

