html,
body {
    height: 100%;
    margin: 0;
    color: $primary-color;
    background: radial-gradient(#FFF, #E5E5E5) !important;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    flex: 1 0 auto;
    min-height: calc(100vh - 90px);
}
