.nav-link.active {
    color: $accent-color !important;
    width: 100%;
}
.nav-link.active:hover {
    color: $accent-color !important;
}

a.nav-link {
    color: $dark-color !important;
}

a.nav-link:hover {
    color: $primary-color !important;
    transition: 0.3s ease-in;
}

.navbar-light .navbar-toggler {
    border: none !important;
    border-color: $accent-color !important;
}

.nav-wrapper {
    background-color: $light-color !important;
}

@media screen and (max-width: 991px) {
        .form-inline {
            display: flex;
            flex-direction: row;
        }
        .form-wrapper {
            width: 100% !important;
        }
        .sm-2.form-control {
            width: 80% !important;
            margin-top: 1.5rem;
        }
        .btn.btn-outline-success {
            margin-top: 1.5rem;
        }
}

@media screen and (max-width: 400px) {
    .heading a {
        margin-right: 1rem !important;
        font-size: 1rem !important;
    }
    .navbar-toggler-icon {
        width: 1.25em;
        height: 1.25em;
    }
}