.nav-link.active {
    background-color: $white-color !important;
    width: 100%;
}

a.nav-link {
    color: $dark-color !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-wrapper {
    background-color: $light-color !important;
}

@media screen and (max-width: 991px) {
        .form-inline {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .form-wrapper {
            width: 100% !important;
        }
        .sm-2.form-control {
            width: 80% !important;
            margin-top: 1.5rem;
        }
        .btn.btn-outline-success {
            margin-top: 1.5rem;
        }
}
