.tab-content {
    background: $white-color;
    padding: 1em;
    min-height: 250px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: rgba(146, 146, 146, 0.25);
    margin-top: -7px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item-show .nav-link {
    color: $primary-color !important;
    background-color: $white-color;
    border-color: $white-color;
    border-radius: 12px 12px 0 0;
}

.nav-tabs .nav-link:not(.active) {
    color: $accent-color !important;
}

.nav {
    flex-wrap: nowrap !important;
}

.nav-tabs {
    width: fit-content;
}

#uncontrolled-tab-example-tab-one,
#uncontrolled-tab-example-tab-two,
#uncontrolled-tab-example-tab-three {
    padding-left: 2rem;
    padding-right: 2rem;
}

span .tab-image {
    height: 150px;
    width: auto;
}

