.tab-content {
    background: $white-color;
    padding: 1em;
    min-height: 250px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: rgba(146, 146, 146, 0.25);
    margin-top: -7px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item-show .nav-link {
    color: $primary-color !important;
    background-color: $white-color;
    border-color: $white-color;
    border-radius: 12px 12px 0 0;
}

.nav-tabs .nav-link:not(.active) {
    color: $accent-color !important;
}

.nav {
    flex-wrap: nowrap !important;
}

.nav-tabs {
    width: fit-content;
}

#uncontrolled-tab-example-tab-one,
#uncontrolled-tab-example-tab-two,
#uncontrolled-tab-example-tab-three {
    padding-left: 2rem;
    padding-right: 2rem;
}

.tab-image {
    height: auto;
    width: 100%;
}

.container .row .col-8.col {
    padding: 0rem 2rem;
}

.justify-content-start.row {
    margin-right: 0 !important;
}

.tabs-content-container {
    padding-left: 1em !important;
}

.tabs-container {
    padding-bottom: 2rem !important;
}

.tabs-content-container .tab-icons {
    font-size: 20px;
    color: $secondary-color !important;
    cursor: pointer;
}

.tabs-content-container .tab-icons:hover {
    color: $accent-color !important;
    transition: 0.3s ease-in;
}

.home-accordion-card .tab-icons {
    font-size: 20px;
    color: $secondary-color !important;
    cursor: pointer;
    justify-content: start !important;
}

.home-accordion-card .tab-icons:hover {
    color: $accent-color !important;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
        .col-md-6 {
        margin-left: 1rem !important;
    }
}