h1,
.heading {
    font-family: "Playfair Display", serif;
}

.heading {
    color: $accent-color !important;
    font-style: italic !important;
    font-weight: 700 !important;
}

body {
    font-family: "Lato", sans-serif;
}