h1,
.heading {
    font-family: "Playfair Display", serif;
}

.heading {
    color: $accent-color !important;
    font-style: italic !important;
    font-weight: 700 !important;
}

h1 {
    color: $accent-color !important;
    font-weight: 400;
}

body {
    font-family: "Lato", sans-serif;
}

@media screen and (max-width: 400px) {
    .header-h1 {
        font-size: 24px !important;
    }
    .contact-detail-text {
        font-size: 16px !important;
    }
    .contact-icons {
        font-size: 24px !important;
    }
    .form-label {
        font-size: 14px !important;
    }
    .form-check-label {
        font-size: 14px !important;
    }
    .btn-group-lg>.btn, .btn-lg {
        font-size: 0.8rem !important;
    }
    .paragraphs {
        font-size: 14px !important;
    }
    span .accordion-image {
        height: auto !important;
    }
}